## Topics
- tuples
- dictonary

In [1]:
empty = list()
empty = []

In [2]:
t =(1,2)
print(t)

(1, 2)

In [3]:
print(t[0])

1

In [4]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
t[0] = 10
t.append(6)

TypeError: 'tuple' object does not support item assignment

In [6]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [21]:
t.index(2)
# t.index(0)

NameError: name 't' is not defined

In [8]:
t1 =(1,2,3,4,1,1)
print(t1.count(1))
print(t1.count(5))
print(sum(t1),max(t1),min(t1))

3
0
12 4 1

In [9]:
t2 = (34,'python',True,89.5)
print(t2)
print(t2[0])
print(t2[2:])
print(t2[1][2])

(34, 'python', True, 89.5)
34
(True, 89.5)
t

In [22]:
t3 = (3,4,(34,67))
print(t3[2])
print(t3[2][1])

(34, 67)
67

## create a list of lists where each sublist consist of 3 subject marks of the student
## in each sublist add a new element which is total of 3 subject marks

In [5]:
student_marks = [[23,56,89],[45,56,76],[99,65,34]]
print(student_marks)

[[23, 56, 89], [45, 56, 76], [99, 65, 34]]

In [6]:
for student in range(len(student_marks)):
    print(student_marks[student])

[23, 56, 89]
[45, 56, 76]
[99, 65, 34]

In [7]:
for student in range(len(student_marks)):
    #print(student_marks[student])
    student_marks[student].append(sum(student_marks[student]))
student_marks

[[23, 56, 89, 168], [45, 56, 76, 177], [99, 65, 34, 198]]

In [8]:
a = [6,8,9]
a.append(sum(a))

In [9]:
a

[6, 8, 9, 23]

In [10]:
for i in a:
    print(i)

6
8
9
23

In [11]:
#[7,9,10,24]
for i in a:
    print(i+1)

7
9
10
24

In [12]:
#creating a new list with values plus one
aplus = []
for i in a:
    aplus.append(i+1)
print(aplus)

[7, 9, 10, 24]

In [13]:
print(a)

[6, 8, 9, 23]

In [14]:
list(range(len(a))) # range of values

[0, 1, 2, 3]

In [15]:
for i in range(len(a)):
    a[i] = a[i] + 1
print(a)

[7, 9, 10, 24]

In [16]:
# to access element
for i in a:
    print(i,end=' ')
# line gap between two lists
print()
# to access the element by using index
for i in range(len(a)):
    print(a[i],end=' ')

7 9 10 24
7 9 10 24

# Dictionary
- empty dictionary {},dict()
- {key1:value1,key2:value2}
- key and value are mapped by:
- items are seperated by,
- each item in a dictionary is key,value pair
- key are unique values

In [2]:
d = {'maths':56,'english':67,'physics':45}
d['maths'] ,d['english'], d['physics']

(56, 67, 45)

In [3]:
d

{'maths': 56, 'english': 67, 'physics': 45}

In [4]:
#add a new item to dictionary
d['python'] = 78
d

{'maths': 56, 'english': 67, 'physics': 45, 'python': 78}

In [5]:
# print the key values 
for i in d:
    print (d[i],end=' ')

56 67 45 78

In [ ]:
sum(d)

In [6]:
# to calcuate the sum of the values in the for loop
s = 0
for i in d:
    s+= d[i]
print(s)

246

In [8]:
for key,value in d.items():
    print(key,':',value)

maths : 56
english : 67
physics : 45
python : 78

In [9]:
help(d.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [13]:
d.update({'total':sum(d.values())})
print(d)

{'maths': 56, 'english': 67, 'physics': 45, 'python': 78, 'total': 246}

In [14]:
# to remove on item
d.pop('total')
print(d)

{'maths': 56, 'english': 67, 'physics': 45, 'python': 78}

create a dictionary with 3 student data
- key-student name
- value-list of 3 subject marks of the student

In [15]:
stud_marks= {'ram':[77,45,67],'sandy':[34,56,78],'priya':[54,76,98]}
stud_marks

{'ram': [77, 45, 67], 'sandy': [34, 56, 78], 'priya': [54, 76, 98]}

# add total marks as the last element in the list for each student
student

example o/p:

{'ram':[77,45,67,156]}

In [16]:
stud_marks['ram']

[77, 45, 67]

In [20]:
for k,v in stud_marks.items():
    stud_marks[k].append(sum(v))
stud_marks

{'ram': [77, 45, 67, 189, 378, 756],
 'sandy': [34, 56, 78, 168, 336, 672],
 'priya': [54, 76, 98, 228, 456, 912]}