# jupyter markdown

## jupyter markdown

### jupyter markdown

#### jupyter markdown

- point 1
     - **sub point 1.1**
     - ***sub point 1.2***
     - *sub point 1.3*

- point 2

- point 3

### python introduction
- python 3
- python can be used as functional programming
- python can be used as scripting programming
- python is intially designed by **Guido Van Rossum** in 1991

In [2]:
# input and output functions
# output functions
print("hello world")
print("welcome to python programming")

hello world
welcome to python programming

In [3]:
print("markdown cell",end='')
print("code cell")

markdown cellcode cell

In [5]:
# input funtion 
print("enter your name : ")
a = input(' ')
print('your name is ',a)

enter your name :
 honey
your name is  honey

### inserting an image using markdown
![image](https://image.shutterstock.com/image-photo/beautiful-water-drop-on-dandelion-260nw-789676552.jpg)

## inserting a site using markdown
[site](https://www.google.com/search?q=saint+bernard+puppies&rlz=1C1CHBD_enIN858IN858&biw=1536&bih=754&tbm=isch&sxsrf=ACYBGNSuuzY-s5m1GkgyBbkvaHMGJt6XRA:1576213156956&source=lnms&sa=X&ved=0ahUKEwiK4r3K67HmAhVG4jgGHcKMDHgQ_AUIvQEoAQ)

# fundamental data types
1. int
2. float
3. complex
4. boolean
5. string

In [6]:
#basic example
x = 10
print(type(x))
print (x)

<class 'int'>
10

In [13]:
a = complex(5,4)
print(a)

(5+4j)

In [14]:
x = 3+5j
y = 10.25
z = 10
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'float'>
<class 'int'>

In [15]:
x = 3+5j
y = 10.25
z = 10
print(type(x),type(y),type(z))

<class 'complex'> <class 'float'> <class 'int'>

In [17]:
c1 = 5+6j
c2 = 4+5j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+11j)
(1+1j)
(-10+49j)

In [20]:
a = 10 #boolean
b = 5
a > b

True

In [22]:
# string
s1 = "abc"
s2 = "xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [23]:
s1 = "100"
print(type(s1))

<class 'str'>

# Data type conversions

In [24]:
i = 100
print(type(i))
s1 = str(i) #str() converts the input into string type
print(type(s1))
f1 = float(i) #float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [25]:
s1 = "200"
print(type(s1))
b = int(s1)
print(type(b))
f = 2.5
a = int(f)
print(type(a))
print(a)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [26]:
# a number is given 23456
# digit count
s = 23456
print(len(str(s)))

5

# operators
## 1. arithematic operators------>+,-,*,/,//,%,**
## 2. logical operators--->and,or,not
## 3. relational operators--> <,>,<=,>=,==,!=
## 4. membership operators---> in,not in

In [28]:
#arithematic operators
a = 45
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

65
25
900
2.25
2
5
1159445329576199417209625244140625

In [30]:
# relational operators
x = 30
y = 10
print(x==y)
print(x!=y)
print(x<y)
print(x>y)

False
True
False
True

In [31]:
# logical operators
print(x>=10 and x<=30)
print(x>=5 or x<=20)
print(not x)

True
True
False

In [36]:
 # membership operators
str1 = "abc"
print('a' in str1)
print('b' not in str1)

True
False

# conditional statement:
- 1.if
- 2.else
- 3.elif
# syntax
- if condition:
## statements
- elif conditions:
### statements
- else:
### statements

In [38]:
# To check givennumber is even or odd
n = int(input("enter the number:"))
if n%2==0:
    print("even")
else:
    print("odd")

enter the number:3
odd

### To check given number is perfectly multiple of 3 and 5

In [39]:
n = int(input("enter the number"))
if (n%3==0 and n%5==0):
    print("yes")
else:
    print("no")

enter the number4
no

In [42]:
# to check the given number is positive negative or zero
n = int(input("enter the number"))
if n>0:
    print("positive number")
elif  n<0:
    print("negative number")
elif n==0:
    print("zero")

enter the number4
positive number

In [48]:
# to check the input is leap year or not
n = int(input("enter a year"))
if n%4==0:
    print("leap year")
else:
    print("not leap year")

enter a year2019
not leap year

In [49]:
# to check the person is eligible for voting or not
age = int(input("enter the age"))
if age<18:
    print("not eligible")
else: 
    print("eligible")

enter the age26
eligible